CSV-BIN-XML_Converter/records.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="surname">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="gender">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="M" />
                          <xs:enumeration value="F" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="occupancy">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="level_of_education">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="PhD" />
                          <xs:enumeration value="MSc" />
                          <xs:enumeration value="BSc" />
                          <xs:enumeration value="HS" />
                          <xs:enumeration value="PS" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="email" minOccurs ="0" > 
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value=".*@(gmail|hotmail|yahoo)\.com|" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="bank_account_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="bank_account_number">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d{4}-\d{7}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="IBAN">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="TR\d{2}\s\d{4}\s\d{4}\s\d{4}\s\d{4}\s\d{2}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="account_type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="deposit" />
                          <xs:enumeration value="daily_deposit" />
                          <xs:enumeration value="drawing" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="total_balance_available">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:short">
                            <xs:attribute name="currency_unit" use="optional">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="₺" />
                                  <xs:enumeration value="€" />
                                  <xs:enumeration value="$" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute type="xs:string" name="bigEnd_Version" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="available_for_loan">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="😊" />
                          <xs:enumeration value="☹" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>